
<div class="wrapper" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper__row" fxLayout="column" fxLayoutAlign="space-around start">
        <span class="title">Unos nove usluge</span>
        <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="space">
            </div>
                <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">                  
                    <label>ID</label><br>
                    <input [readonly] ="true" class="input" type="number" [(ngModel)]="uslugaID" />
                </div>
                <div class="space">
                </div>
                <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">
                    <label>Naziv usluge</label><br>
                    <input class="input" type="text" [(ngModel)]="nazivUsluge" />
                </div>
                <div class="space">
                </div>
                <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">
                    <label class="label3">Opis usluge</label><br>
                    <textarea class="input__textarea" [(ngModel)]="this.opisUsluge"></textarea>
                </div>
                <div class="space">
                </div>
        </div>
    </div>


<div class="wrapper__row">
    <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="zahtev__column" fxLayout="column" fxLayoutAlign="space-around start">
            <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">
                <label>Jedinica mere</label><br>
                <select class="input" [(ngModel)]="jedinicaMere.sifraJM">
                    <option *ngFor="let jedinicaMere of jediniceMere" [value]="jedinicaMere.sifraJM">{{jedinicaMere.nazivJM}}</option>
                </select>
            </div>
            <div class="space">
            </div>
        </div>
        <div class="zahtev__column" fxLayout="column" fxLayoutAlign="space-around start">
            <button (click)="unesi()" type="button">Sacuvaj uslugu</button>
            <div class="space">
            </div>
        <!-- <div class="zahtev__column" fxLayout="column" fxLayoutAlign="space-around start"> -->
            <button type="button" (click)="odustani()">Ponisti</button>
        </div>


    </div>
</div>
</div>
