<div class="wrapper" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper__row" fxLayout="column" fxLayoutAlign="space-around start">
        <span class="title">Izvestaja o broju dorucaka</span><br>
        <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">                  
                <label>Status</label>
                <input [readonly] ="true" class="input" type="text" [(ngModel)]="izvestaj.status">
                                  
                <label>Restoran</label>
                <input [readonly] ="true" class="input" type="text" [(ngModel)]="izvestaj.restoran.nazivRestorana"/>
            </div>
            <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">   
                <label>Datum od</label>
                <input [readonly]="true" class="input" type="text" [(ngModel)]="datumOD" />

                <label>Datum do</label>
                <input class="input" type="text" [(ngModel)]="datumDO" [readonly]="true"/>
            </div>
        </div>
    </div>
</div>
<br>


<div class="row" fxLayout="row" fxLayoutAlign="center center">
    <div class="table__wrapper">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>#</th>
          <th>Datum</th>
          <th>Dan</th>
          <th>Broj dorucaka</th>
        </tr>
        <tr *ngFor="let stavka of stavkeIzvestaja">
          <td>{{stavka.rbStavke}}</td>
          <td>{{stavka.datum}}</td>
          <td>{{stavka.dan}}</td>
          <td>{{stavka.brojDorucaka}}</td>
        </tr>
      </table>
    </div>
  </div>
<br>
<div class="row" fxLayout="row" fxLayoutAlign="space-between center">
           
    <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">                  
        <label>Ukupan broj dorucaka</label>
        <input class="input" [readonly] ="true" type="number" [(ngModel)]="izvestaj.ukupanBrojDorucaka" />

        <label>Zaposleni</label>
        <input [readonly] ="true" class="input" type="text" [(ngModel)]="izvestaj.zaposleni.prezime"/>
        <!-- <option *ngFor="let z of zaposleni" [value]="z.zaposleniID">{{z.prezime}}</option> -->
        
    </div>
</div>

