.wrapper {
    width: 100%;
    height: 90vh;
  }
  
  .wrapper__row {
    width: 95%;
    height: 40%;
  }
  
  .row {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  
  .zahtev__row {
    width: 90%;
  }
  
  .zahtev__column {
    margin-left: 4%;
    width: 30%;
  }
  
  .input {
    width: 170px;
  }
  
  .label {
    margin-left: 4%;
    margin-right: 10px;
  }
  
  .label2 {
    margin-left: 4%;
  }
  
  .label3 {
    margin-left: 2%;
    margin-right: 10px;
  }
  
  .button {
    margin-left: 4%;
  }
  
  .table__wrapper {
    overflow: auto;
    height: 300px;
    max-height:500px;
    margin-top: 15px;
  }
  
  table {
    width: 70vw;
    background-color: rgb(249, 255, 210);
    text-align: center;
    font-weight: bold;
  }
  
  th {
    // font-weight: 500;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgb(196, 236, 85);
    color: white;
  }
  
  td {
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(226, 226, 226);
  }
  
  .title {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .input__textarea {
    width: 250px;
    max-width: 250px;
    height: 50px;
    max-height: 50px;
  }
  
  input {
    box-sizing: border-box;
    padding: 5px 10px;
  }
  
  select {
    box-sizing: border-box;
    padding: 5px 10px;
  }
  
  .input__last {
    margin-right: 4%;
  }
  
  button {
    padding: 12px 28px;
    border: darkblue;
    border-radius: 12px;
    color: white;
    background-color: rgb(196, 236, 85);
  }

  .space {
    width: 4px;
    height: auto;
    display: inline-block;
  }
  