
<div class="row" fxLayout="row" fxLayoutAlign="space-between center">
           
    <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">                  
        <label>Status</label>
        <input [readonly] ="true" class="input" type="text" [(ngModel)]="status" />

        <button (click)="postaviStatus()" type="button">Postavi status</button>
    </div>
</div>

<div class="wrapper" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper__row" fxLayout="column" fxLayoutAlign="space-around start">
        <span class="title">Unos izvestaja o broju dorucaka</span>
        <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
           
                <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">                  
                    <label>ID</label>
                    <input [readonly] ="true" class="input" type="number" [(ngModel)]="rbIzvestaja" />

                    <label>Restoran</label>
                    <select class="input" [(ngModel)]="restoran.restoranID">
                    <option *ngFor="let restoran of restorani" [value]="restoran.restoranID">{{restoran.nazivRestorana}}</option>
                </select>
                    <label>Datum od</label>
                    <input class="input" type="date" [(ngModel)]="this.datumOD" />

                    <label>Datum do</label>
                    <input class="input" type="date" [(ngModel)]="this.datumDO" />
                </div>
        </div>
    </div>
</div>
<br>
<div class="wrapper" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper__row" fxLayout="column" fxLayoutAlign="space-around start">
        <span class="title">Stavke izvestaja</span>
        <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
           
                <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">    
                    
                    <label>Rb stavke</label>
                    <input  class="input" type="number" [(ngModel)]="this.rbStavke" />

                    <label>Datum</label>
                    <input class="input" type="date" [(ngModel)]="this.datum" />

                    <label>Dan</label>
                    <input class="input" type="text" [(ngModel)]="this.dan" />

                    <label>Broj dorucaka</label>
                    <input class="input" type="number" [(ngModel)]="this.brojDorucaka" />

                    <button (click)="dodajStavku()" type="button">Dodaj stavku</button>
                </div>
        </div>
    </div>
</div>

<div class="row" fxLayout="row" fxLayoutAlign="center center">
    <div class="table__wrapper">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>#</th>
          <th>Datum</th>
          <th>Dan</th>
          <th>Broj dorucaka</th>
          <th>Brisanje</th>
        </tr>
        <tr *ngFor="let stavka of stavkeIzvestaja">
          <td>{{stavka.rbStavke}}</td>
          <td>{{stavka.datum}}</td>
          <td>{{stavka.dan}}</td>
          <td>{{stavka.brojDorucaka}}</td>

          <td><button (click)="obrisiStavku(stavka.rbStavke)">Obrisi stavku</button></td>
        </tr>
      </table>
    </div>
  </div>

<div class="row" fxLayout="row" fxLayoutAlign="space-between center">
           
    <div class="zahtev__row" fxLayout="row" fxLayoutAlign="space-between start">                  
        <label>Ukupan broj dorucaka</label>
        <input class="input" [readonly] ="true" type="number" [(ngModel)]="ukupanBrojDorucaka" />

        <label>Zaposleni</label>
        <select  (change)='onOptionsSelected($event)' class="input" [(ngModel)]="zaposlen.zaposleniID">
        <option *ngFor="let z of zaposleni" [value]="z.zaposleniID">{{z.prezime}}</option>
        </select>

        <button (click)="sacuvajIzvestaj()" type="button">Kreiraj</button>
    </div>
</div>
